#!/usr/bin/env python
# Arips Planner configuration

from dynamic_reconfigure.parameter_generator_catkin import ParameterGenerator, double_t, int_t, bool_t

gen = ParameterGenerator()

gen.add("door_handle_approach_x_offset", double_t, 0, "Offset from detected door handle position in door x-direction to calculate approach pose", 0.06, -1.0, 1.0)
gen.add("door_handle_approach_y_offset", double_t, 0, "Offset from detected door handle position in door y-direction to calculate approach pose", 0.01, -1.0, 1.0)
gen.add("door_handle_approach_yaw_offset_deg", double_t, 0, "Yaw rotation from detected door handle position to calculate approach pose", 22, 0.0, 45.0)
gen.add("approch_angle_thres_deg", double_t, 0, "Approch pose rotation tolerance threshold before hooking", 5, 0.0, 45.0)
gen.add("approch_final_rotation_angular_speed", double_t, 0, "Final rotation speed before hooking", 0.1, 0.0, 1.0)
gen.add("hook_servo_angle", double_t, 0, "Kinect servo angle to see the door handle for hooking", 100, 0, 180)
gen.add("drive_open_linear_speed", double_t, 0, "Linear speed for opening the door", 0.2, 0.0, 1.0)
gen.add("drive_open_angular_speed", double_t, 0, "Angular speed for opening the door", 0.31, 0.0, 1.0)
gen.add("drive_open_wall_dist", double_t, 0, "When opening the door while hooked, distance to front wall to stop robot", 0.25, 0.0, 1.0)


exit(gen.generate("arips_navigation", "arips_navigation", "OpenDoor"))
