<?xml version="1.0"?>
<launch>
  <node pkg="arips_navigation" type="demo_cross_step" respawn="false" name="demo_cross_step" output="screen" clear_params="true">
    <rosparam file="$(find arips_navigation)/config/lu/costmap.yaml" command="load" />
    <rosparam file="$(find arips_navigation)/config/config.yaml" command="load" />
  </node>
</launch>
