<?xml version="1.0"?>

<launch>

<node pkg="tf" type="static_transform_publisher" name="world_pubsdfsdf" args="0 0 0 0 0 0 global map 30"/>
 <!-- <node pkg="tf" type="static_transform_publisher" name="world_pub" args="0 0 0 0 0 0 global world 30"/> -->


  <node pkg="tf" type="static_transform_publisher" name="map_pub" args="0 0 0 0 0 0 map flat_layer_map1_frame 30"/>

  <node pkg="tf" type="static_transform_publisher" name="map_pub_odom" args="0 0 0 0 0 0 map odom 30"/>
  <node pkg="tf" type="static_transform_publisher" name="map_pub_odom_base" args="0 0 0 0 0 0 odom arips_base 30"/>

  <arg name="map_file1" default="$(find arips_navigation)/maps/lu_cart.yaml"/>
  <node name="map_server1" pkg="map_server" type="map_server" args="$(arg map_file1)" >
    <param name="frame_id" type="str" value="flat_layer_map1_frame" />
    <remap from="map" to="flat_layer_map1"/>
    <remap from="map_metadata" to="flat_layer_map1_metadata"/>
  </node>

  <node name="map_server_overlay" pkg="map_server" type="map_server" args="$(find arips_navigation)/maps/lu_cart_overlay.yaml" >
    <param name="frame_id" type="str" value="flat_layer_map1_frame" />
    <remap from="map" to="flat_layer_map1_overlay"/>
    <remap from="map_metadata" to="flat_layer_map1_overlay_metadata"/>
  </node>
   
  <node pkg="arips_navigation" type="arips_navigation_node" respawn="false" name="arips_navigation_node" output="screen" clear_params="true">
    <rosparam file="$(find arips_navigation)/config/lu/costmap.yaml" command="load" />
    <rosparam file="$(find arips_navigation)/config/config.yaml" command="load" />
    <rosparam param="topo_planner/topo_map_file" subst_value="True">$(find arips_navigation)/config/lu/topomap_cartographer.yaml</rosparam>
  </node>
  
</launch>
