<?xml version="1.0"?>

<launch>

    <arg name="no_vel" default="false" />

    <node pkg="tf" type="static_transform_publisher" name="world_pubsdfsdf" args="0 0 0 0 0 0 global map 30"/>
     <node pkg="tf" type="static_transform_publisher" name="world_pub" args="0 0 0 0 0 0 map odom 30"/>


      <node pkg="tf" type="static_transform_publisher" name="map_pub" args="0 0 0 0 0 0 map flat_layer_map1_frame 30"/>

      <arg name="map_file1" default="$(find arips_navigation)/maps/appartement_lu.yaml"/>
      <node name="map_server1" pkg="map_server" type="map_server" args="$(arg map_file1)" >
        <param name="frame_id" type="str" value="flat_layer_map1_frame" />
        <remap from="map" to="flat_layer_map1"/>
        <remap from="map_metadata" to="flat_layer_map1_metadata"/>
      </node>

      <node pkg="arips_navigation" type="arips_navigation_node" respawn="false" name="arips_navigation_node" output="screen" clear_params="true">
        <rosparam file="$(find arips_navigation)/config/lu/costmap.yaml" command="load" />
        <rosparam file="$(find arips_navigation)/config/config.yaml" command="load" />
        <rosparam param="topo_planner/topo_map_file" subst_value="True">$(find arips_navigation)/config/lu/topomap.yaml</rosparam>

        <remap from="/cmd_vel" to="/cmd_vel_"/>
      </node>


  <node pkg="rostopic" type="rostopic" name="rostopic_node" args="pub /topomap toponav_msgs/MapVisualization &quot;map_topics: [/flat_layer_map1, /flat_layer_map2, /flat_layer_map3, /flat_layer_map4, /flat_layer_map5]&quot;" output="screen"/>
</launch>
