<?xml version="1.0"?>
<launch>
  <node pkg="arips_navigation" type="arips_navigation_node" respawn="false" name="arips_navigation_node" output="screen" clear_params="true">
    <rosparam file="$(find arips_navigation)/config/lu/costmap.yaml" command="load" />
    <rosparam file="$(find arips_navigation)/config/config.yaml" command="load" />
    <rosparam param="topo_planner/topo_map_file" subst_value="True">$(find arips_navigation)/config/lu/topomap_lu_single_office.yaml</rosparam>
  </node>
</launch>
