body {
    background-color: ghostwhite;
}

#connection_status {
    font-size: large;
    text-align: center;
    background-color: lightgray;
    padding: 4pt;
}

#capabilities_board {
    background-color: white;
    width: 200pt;
}

#capabilities_board_title {
    text-align: left;
    padding: 8pt;
}

.container {
    justify-content: space-between;
    flex-direction: column;
    height: 100vh;
    display: flex;
}
.container .btn-holder {
    justify-content: flex-end;
    display: flex;
}

#btn_shutdown {
    position: fixed;
    right: 0;
    bottom: 0;
}

#zone_joystick {
    position: fixed;
    bottom: 80px;
    width: 100%;
}


#capabilities_elements label {
    border:1px solid #ccc;
    padding:10px;
    margin:0 0 10px;
    display:block;
}

#capabilities_elements label:hover {
    background:#eee;
    cursor:pointer;
}

#btn_shutdown {
    width: 100pt;
    height: 30pt;
}

.slider {
    height: 300pt;
    position: absolute;
    right: 20pt;
    top: 75pt;
    background-color: black;
    display:block;
    width: 3pt;
}

.thumb {
    cursor: pointer;
    position: absolute;
    right: -13.5pt;
    top: 50pt;
    width: 30pt;
    height: 10pt;
    background-color: black;
}

.value {
    position: absolute;
    right: 5pt;
    top: 380pt;
    width: 30pt;
    text-align: center;
    font-family: "Lucida Console", Monaco, monospace;
    display: block;
}

#kinect_color_image {
    position: fixed;
    width: 70%;
    max-height: 70%;
    top: 50pt;
    left: 300pt;
    display: block;
    object-fit: contain
}
