<launch>

  <arg name="camera" default="kinect" />
  <arg name="image_topic" default="image_color" />
  <arg name="fixed_frame" default="camera_rgb_optical_frame" />
  
  <arg name="paramfile_classifier" default="$(find arips_launch)/config/classifier.yaml"/>

  <include file="$(find face_detector)/launch/face_detector_common.launch">
    <arg name="camera" value="$(arg camera)" />
    <arg name="image_topic" value="$(arg image_topic)" />
    <arg name="fixed_frame" value="$(arg fixed_frame)" />
    <arg name="paramfile_classifier" value="$(arg paramfile_classifier)"/>
    <param name="use_rgbd" type="bool" value="False" />
  </include>

</launch>
