<launch>	
	
  <!--- md25 drive -->
  <include file="$(find arips_launch)/launch/md25_joy.launch" />
  
  <!---
  <node name="arips_monitor" pkg="arips_monitor" type="monitor" output="screen" respawn="true" /> -->
  
  <!--- YD Lidar-->
  <include file="$(find arips_launch)/launch/lidar.launch" />
  
  
  
</launch>
