<launch>
	<arg name="joy" default="false"/>
	
	<arg name="scan_matcher" default="true"/>

  <!--- md25 drive -->
  <include file="$(find arips_launch)/launch/md25.launch" />
  
  <!---
  <node name="arips_monitor" pkg="arips_monitor" type="monitor" output="screen" respawn="true" /> -->
  
  <!--- YD Lidar-->
  <include file="$(find arips_launch)/launch/lidar.launch" />
  
  <!--- laser odometry -->
  <group if="$(arg scan_matcher)">
    <include file="$(find arips_launch)/launch/laser_scan_matcher.launch" />
  </group>
  
  <!-- kinect frames -->
  <include file="$(find arips_launch)/launch/includes/frames.launch" />  
  
  <group if="$(arg joy)">
    <include file="$(find arips_launch)/launch/joy_teleop.launch" />
  </group>
</launch>
