<launch>
  <arg name="no_frames"  default="false"/>
  
  <!--- rosserial and arm node -->
  <include file="$(find arips_launch)/launch/arduino.launch" />

  <!-- kinect -->
  <include file="$(find arips_launch)/launch/kinect.launch" />
  
  <!-- required static transforms -->
  <include unless="$(arg no_frames)" file="$(find arips_launch)/launch/includes/frames.launch" />
</launch>
