<launch>
    <arg name="joy" default="true"/>
	
	<include file="$(find arips_launch)/launch/hardware_base_lidar.launch" >
		<arg name="joy" value="$(arg joy)"/>
	</include>

	<!-- kinect -->
	<include file="$(find arips_launch)/launch/kinect.launch" />

	<!-- arm -->
	<include file="$(find arips_launch)/launch/arm.launch" />
	
	
	<include file="$(find arips_launch)/launch/localization.launch" />
</launch>
