<launch>  
  <node pkg="joy" type="joy_node" name="joy_node"  output="screen">
    <param name="autorepeat_rate"  value="3.0" />
  </node>
  
  <node pkg="teleop_twist_joy" type="teleop_node" name="teleop_node"  output="screen">
    <param name="scale_linear"  value="0.5" />
    <param name="enable_button" value="5" />
    <param name="scale_linear_turbo"  value="0.8" />
    <param name="scale_angular"  value="1.0" />
    <param name="enable_turbo_button"  value="4" />
    <param name="axis_linear" value="1" />
    <param name="axis_angular" value="3" />
  </node>  
</launch>
