<!--
Example launch file: launches the scan matcher with pre-recorded data
-->

<launch>
  <!-- polar matcher, bad performance, user scan matcher instead
  <node pkg="polar_scan_matcher" type="psm_node" name="psm_node" output="screen">
    <param name="max_error" value="0.20"/>
    <param name="search_window" value="40"/>
    <param name="publish_pose" value="false"/>
    <param name="world_frame" value="odom"/>
    <param name="base_frame" value="arips_base"/>
  </node>
  -->
  
  <arg name="IS_TWISTSTAMPED" default="true" />
  <arg name="publish_covariance" default="false"/>
  #### set up data playback from bag #############################


  <param name="laser_scan_matcher_node/base_frame" value="arips_base"/>
  <param name="laser_scan_matcher_node/fixed_frame" value="odom"/>
  <param name="laser_scan_matcher_node/use_imu" value="false"/>
  <param name="laser_scan_matcher_node/use_odom" value="false"/>
  <param name="laser_scan_matcher_node/kf_dist_linear" value="0.1"/>
  <param name="laser_scan_matcher_node/kf_dist_angular" value="0.175"/>
  

  #### start the laser scan_matcher ##############################

  <group if="$(arg publish_covariance)">
    <param name="laser_scan_matcher_node/do_compute_covariance" value="1"/>
    <param name="laser_scan_matcher_node/publish_pose_with_covariance" value="true"/>
    <param name="laser_scan_matcher_node/publish_pose_with_covariance_stamped" value="true"/>
  </group>
  <node pkg="laser_scan_matcher" type="laser_scan_matcher_node"
    name="laser_scan_matcher_node" output="screen">

    <param name="max_iterations" value="15"/>
  </node>

</launch>
