<launch>
  <!-- Environment Variables -->
  <include file="$(find rocon_app_manager)/launch/paired_public.launch">
    <arg name="robot_name" value="arips"/>
    <!-- 
      Automatically take control of the private app manager
      Set this to false if you're interested in doing multi-robot applications
      so multi-robot and pairing can work in tandem. 
    -->
    <arg name="auto_invite" value="true" />
  </include>
</launch>
