<launch>
	<arg name="gui" default="True" />
	<param name="robot_description" textfile="$(find arips_description)/urdf/arips.urdf" />
	<param name="use_gui" value="$(arg gui)"/>
	<node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
	<node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />
</launch>
